/* Rentrée CMZ globals */
@import url('https://fonts.googleapis.com/css?family=Bangers|Days+One&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --color-yellow-light: #FDD52D;
    --color-yellow-middle: #FAB900;
    --color-yellow-dark: #F7A516;
    --color-blue-light: #273180;
    --color-blue-middle: #202060;
    --color-blue-dark: #130846;
    --color-azur-light: #2591AA;
    --color-azur-middle: #308AA8;
    --color-azur-dark: #257D9C;
}

/* Rentrée CMZ color classes */

.policetitres {
    font-family: 'Bangers', cursive;
}

.policep {
    font-family: 'Days One', sans-serif;
}

.bg-yellow-light {
    background-color: var(--color-yellow-light);
}

.bg-yellow-middle {
    background-color: var(--color-yellow-middle);
}

.bg-yellow-dark {
    background-color: var(--color-yellow-dark);
}

.bg-blue-light {
    background-color: var(--color-blue-light);
}

.bg-blue-middle {
    background-color: var(--color-blue-middle);
}

.bg-blue-dark {
    background-color: var(--color-blue-dark);
}

.bg-azur-light {
    background-color: var(--color-azur-light);
}

.bg-azur-middle {
    background-color: var(--color-azur-middle);
}

.bg-azur-dark {
    background-color: var(--color-azur-dark);
}

.color-yellow-light {
    color: var(--color-yellow-light);
}

.color-yellow-middle {
    color: var(--color-yellow-middle);
}

.color-yellow-dark {
    color: var(--color-yellow-dark);
}

.color-blue-light {
    color: var(--color-blue-light);
}

.color-blue-middle {
    color: var(--color-blue-middle);
}

.color-blue-dark {
    color: var(--color-blue-dark);
}

.color-azur-light {
    color: var(--color-azur-light);
}

.color-azur-middle {
    color: var(--color-azur-middle);
}

.color-azur-dark {
    color: var(--color-azur-dark);
}

.height-small {
    height: 150px;
}

.height-mid {
    height: 300px;
}

.height-big {
    height: 550px;
}

.hjk {
    margin-top: 75px;
}

.policetitres {
    font-family: 'Bangers', cursive;
}

.policep {
    font-family: 'Days One', sans-serif;
}

.rdeimg {
    width: 100%;
    max-width: calc(100% + 30px);

    max-height: 100%;
    box-shadow: -2px 2px 10px black;
}

.evenementimg {
    width: 100%;
    max-width: calc(100% + 30px);
    padding: 0 !important;
    margin: 0 !important;
    max-height: 100%;
    box-shadow: 2px -2px 10px black;
}

.motifimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motiftest {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../../img/motif3.jpg);
    background-size: cover;
    background-position-y: center;
}

.flexpartenaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* anthony */

.event_img {
    max-width: 100%;
}

.img_faq {
    background-size: 150%;
}

.txt_faq {
    font-size: 20px;
}

.btn-warning {
    width: 20%;
    margin-bottom: 1em;
}
.btn-light{
    width: 50%;
    height: 2em;
    font-size: 1em;
}
.showeventinscription {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle_info{
    text-align:center;
    color:white;
    background:#707070 ;
    border-radius:50%;
    border:2px solid #404040 ;
    max-width:120px;
    max-height: 120px;
}
.txt_events_main{
    font-size: 1.5em;
}
@media screen and (min-width: 1200px){
    .card_event .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 19em;
    }
    .btn-light{
        text-align: center;
        width: 50%;
        height: 15%;
        font-size: 3em;
    }
    .txt_events_main{
        font-size: 0.7em;
    }

}



/* Footer Yohann Styles */


.col1,
.col2,
.col3 {
    margin-top: 30px;
    
}

.col1>img,
.col2>img,
.col3>img {
    margin-bottom: 30px;
}

footer {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:#130846;
    padding-top:30px;
    padding-bottom:30px;
    color:white;
    align-items: center;
    
    
}


.title-footer {
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size:30px;
}

.liens-footer{
    text-decoration: none;
    font-size:20px;
    color:#2591AA;
    line-height:30px;
}

.liens-footer:hover{
    color:white;
}

.col-footer{
    margin-bottom:30px;
    
}

.copy {
    font-size: 10px;
    padding-top: 10px;
}
/* Formcontact */


.get-in-touch {
    margin: 50px auto;
    position: relative;
  
  }
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }

  .get-in-touch .title2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }

  .text_text{
    font-size: 20px;
  }
  #etablissement{
    font-size: 20px;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  }

  

/* JJJ Navbar styles */

.nav-cloud {
    background: url("../img/clouds/cloud_nav.png");
    /* background: url("../img/navback.svg"); */
}
.nav-svg {
    /* background: url("../img/clouds/cloud_nav.png"); */
    background: url("../img/navback.svg");
}

.navbar-container {
    /* overflow: visible; */
    /* background-repeat: no-repeat; */
    /* background: url("../img/navback.svg"); */
    /* background: url("../img/clouds/cloud_nav.png"); */
    background-position-y: top;
    background-position-x: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 5000px 80px;
    /* backdrop-filter: blur(8px); */
    height: 80px;
    transition: all 1s ease;
}

.navbar {
    max-height: 50px;
    /* background-color: hsl(251, 88%, 27%,0.5); */
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.logocmz-nav {
    position: relative;
    top: 30px;
    min-width:  100px;
    min-height: 100px;
}

.dropdown-menu {
    background-color: hsl(251, 88%, 27%,0.5);
    backdrop-filter: blur(8px);
    /* left: -24px; */
    text-align: center;
    min-width: 1rem;
}

.dropdown-item {
    /* background-color: hsl(251, 88%, 27%,0.5); */
    /* backdrop-filter: blur(8px); */
    color: white;
}

.dropdown-item:hover {
    background-color: hsl(251, 88%, 60%,0.75);
    backdrop-filter: blur(8px);
    color: var(--color-yellow-light);
}
  header {
    margin-top: 0;
    width: 100%;
    /* height: 140px; */
    text-align: center;
    position: fixed;
    top: 0;
    overflow: visible;
    transition: all 0.5s ease;
    /* background-color: rgba(0, 0, 0, 0.0); */
    z-index: 9999 !important;
    line-height: 80px;

  }
/*  header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
    color: #fff;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: 100;
    // transition: all 2s ease; 
    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.75));
  } */
  header nav {
    /* position: absolute; */
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
  }
    header div a {
    /* line-height: 80px; */
    /* height: 1.5rem; */
    }


    .first-content {
        margin-top: 250px;
    }



  header a, button, .btn {
    /* color: var(--color-yellow-light) !important; */
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    /* filter: drop-shadow(0px, 2px, 6px, 5px, black); */
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.75));
  }
  header a:hover, button:hover, .btn:hover {
    background-color: hsla(var(--color-dark-hsl),0.7);
    box-shadow: 0 0 0 1px var(--color-danger);
    text-decoration: none;
    color: var(--color-danger);
  }

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
    /* padding-top: 60px; */
}
body.sticky-header header {
    /* position: fixed; */
    margin-top: -80px;
    /* height: 60px; */
    /* background-color: rgba(52, 152, 219, 0.9); */
}
body.sticky-header header h1 {
/* transform: scale(1, 0); */
}
    
.nav-trans {
    /* background-color: rgba(0, 0, 0, 0.0); */
}

.nav-opaque {
    background-color: hsla(var(--color-dark-hsl),0.7);
    /* backdrop-filter: blur(8px); */
}

header .input-group {
    margin-bottom: 1px !important;
}


/* Fix for Yohann forms */

.contact-form.row.displayfix {
    display: block !important;
}

@media screen and (max-width: 500px) {


    .get-in-touch .title {
        letter-spacing: 1px;
        font-size: 2.2em;
        line-height: 32px;
        padding-bottom: 32px;
      }
    




}





/* Masonry */

/* images be like 1094x720 */

.grid-item {
    /* float: left; */
    width: 218px;
    margin-bottom: 50px;
    /* height: 70px; */
    /* border: 2px solid hsla(0, 0%, 0%, 0.5); */
    overflow: hidden;
  }
  
  .grid-item--width2 { width: 436px; }
  .grid-item--height2 { height: 140px; }

  .grid-item img {
      max-width: 100%;
      /* max-height: 100%; */
      
  }